    /* ==UserStyle==
@name           ?
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("cnrtl.fr") {
    :root {
        color-scheme: light dark;
        --font-family: "Roboto";
        --primary: color-mix(in lch, white 30%, #466ea1);
        --text-color: light-dark(rgb(30,30,30),rgb(220,220,220));
        --secondary: light-dark(#f39c12,#f39c12);
        --attention: light-dark(#e74c3c,#2ecc71)
        --background : light-dark(#f8f9fa,#212529);
        --o: rgb(250 120 100 / 0.2);
        --b: rgb(255 200 100 / 0.2);
        --def-color: color-mix(in lch, var(--primary) 80%, var(--secondary) );
        /*Global transparency*/
        --tr: 0.1;
        --stroke-color:black;
        --stroke-width: 0.3px;
        --stroke-blur : 0.5px;
    
    :root.light {
      /* forces light color-scheme*/
      color-scheme: light;
    }
    :root.dark {
      /* forces dark color-scheme */
      color-scheme: dark;
    }
    
    #presentation{
        height:auto;
    }
    
    #nouveautes{
        height:auto;
    }
    #nouveautes p{
        font-size: inherit;
    }
       
    #vtoolbar #vitemselected span{
        color: color-mix(in lch, var(--secondary) 10%, var(--attention));
    }
    #vtoolbar #vitemselected a{
        color: var(--text-color)
    }
    
    #vtoolbar a{
        height: auto;
    }
    
    #vtoolbar > ul > li {
        border: none;
    }
    
    #lexicontent {
        font-family: var(--font-family) !important
    }
    #contentbox {
        font-size: 1.4rem !important;
        border: none;
        background-color: rgba(255,255,255,var(--tr) );
        color:var(--text-color);
    }
    
    #contentbox a{
        color:var(--text-color);
    }
    
    #header {
        margin-top:1rem;
        box-shadow: 1px 1px 4px 2px rgba(0 0 0 / 70%);
    }
    body{
        background: var(--background);
        font-family: var(--font-family);
        color:var(--text-color) !important;
    }

    #menubox {
        display: none;
    }
    
    .box{
    border: none;
    background: color-mix(in srgb, white var(--tr-p), transparent);
    .box a:hover{
        font-weight: 600;
        color: var(--secondary);
        text-decoration: underline;
        font-size: 1rem;
    }
    }
    
    #nav {
        background-color: color-mix(in srgb, var(--primary) var(--tr-p), transparent);   
    }
    
    #nav a, #nav ul li.current a, #nav a:hover{
        color:var(--text-color)
    }
    
    #nav ul{
        padding-block: 8px;
    }
    
    #nav ul li.current{
      text-decoration: underline;
      text-decoration-color: var(--secondary);
      text-decoration-thickness: 0.2rem;
      
    }
    
    #nav ul li.current_left{
        background: none;
    }
    #nav ul li.sep{
        background: none;
    }
    
    #nav ul li.current{
        font-size: 1.5rem;
        background: none;
    }
    #nav img{
        display: none;
    }
    
    #nav ul li a{
        color : inherit;
        font-weight: 600;
    }
    #nav ul li{
        font-size: 1rem
    }
    
    #legal ul.links a{
    background: none;
    padding-left: initial
    }
    
    .box h2{
        font-weight: 600;
        background:none;
        padding-left: 6px;
        color : inherit;
        font-size: 1.3rem;
    }
    
    .dico_box{
        margin: initial;
    }
    
    #lexicontent > div > div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, var(--tr));
    }
    
    #lexicontent .tlf_csyntagme{
        color: var(--inv-text-color);
        background-color: color-mix(in hsl, var(--primary) 95%, var(--secondary) );
    }
    
    span.tlf_cdefinition {
        background-color: initial !important;
        text-decoration: underline;
        text-decoration-color: var(--secondary) !important;
        text-decoration-thickness: 0.1rem;
        color: inherit;
    }

    .tlf_cexemple {
        font-family: serif;
        font-size: 1rem;
        display: block;
        border: 1px solid rgba(0, 0, 0, var(--tr));
        padding: 0.25rem;
        margin: 0.25rem;
        margin-left: 2.5rem;
        background-color: color-mix(in srgb, var(--primary) calc(var(--tr) * 100%), transparent);
    }
    
    .tlf_tabulation{
        background: none;
        margin: 0; 
       
    }
    #vitemselected {
        font-family: var(--font-family);
        font-size: 2rem;
        border: none !important;
        margin-block: 1rem;
        span::before {
            display: none;
        }
        a {
            background: none !important;
            background-color: rgba(255,255,255,var(--tr)) !important;
        }
    }

    #wrap {
        border: none;
        box-shadow: 2px 2px 30px 10px rgba(0, 0, 0, var(--tr));
        padding-inline: 2rem;
        background: none;
        background: color-mix(in srgb, var(--primary) calc(var(--tr) * 100%), transparent);
    }

    .bottombox {
        border: none;
    }

    #vtoolbar > ul > li {
        border: none;
    }

    .tab_box {
        border-bottom: 1.5px solid rgba(0, 0, 0, var(--tr));
        margin-bottom: 1rem;
        li {
            font-size: 1rem;
            font-family: var(--font-family);
            a, a:hover, a:visited {
                border: none !important;
                background: none !important;
                /*background-color: color-mix(in srgb, var(--secondary) calc(var(--tr) * 100%), transparent);*/

            }
            a.active, a:visited.active {
                font-size: 1.2rem;
                font-weight: 600 !important;
                /*background-color: var(--secondary) !important;*/
                /*color:light-dark(white,black);*/
                color: inherit;
                text-decoration: underline;
                text-decoration-color: var(--secondary);
                text-decoration-thickness: 0.1rem;
            }
        }
    }

    div.box.bottombox {
        display: none;
    }
    .messagecenter {
        font-family: serif;
        color: inherit;
        font-weight: normal;
        font-size: 1rem;
    }
}